.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    width: 10rem;
    height: 13rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 1.5rem;
}

.card-container img{
    width: 70px;
}

.card-container p{
    font-size: 17px;
    color: var(--gray);
}

.card-container a{
    text-decoration: none;
    color: #5290FD;
}