.toggle{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border: 3px solid var(--orange);
    position: relative;
    border-radius: 16px;
    cursor: pointer;
}

.toggle > *{
    width: 1rem;
    height: 1rem;
    color: var(--orange);
}

.toggle > :first-child{
    width: 0.9rem;
    height: 0.9rem;
}

.toggle .btn{
    background-color: var(--orange);
    border-radius: 50%;
    position: absolute;
}

.toggle .btn.right{
    right: 0;
}

.toggle .btn.left{
    left: 0;
}